<h1><%= @user.name %></h1>
<h2>Current Reservations</h2>
<% @user.reservations.each do |r| %>
<%= r.restaurant.name %> | <%= r.guests %> guests on <%= r.time_slot.strftime('%A, %b %d') %> at <%= r.time_slot.strftime('%I:%M%p') %><br>
<% end %>
<h2>Loyalty Points</h2>
<%= @user.reservations.count %> POINTS!!!!!!!!!<br>

<%= link_to "Back to Restaurants", restaurants_url %>